nvim/
nvimbackup/
wireshark/
xonsh/
configstore/
coc/
ranger/.DS_Store
zsh/ .DS_Store
omf/
./.DS_Store
.DS_Store
bashtop/
bpytop/
ranger-back/
ranger/trash_history
__pycache__/
kitty/
cmus/
yarn/
gh/
zsh/z/
joplin-desktop/
